@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;800&display=swap');
html, body, a, div, p, strong, b, input, textarea, select, option, h1, h2, h3, h4, h5{
    font-family: 'Poppins', sans-serif !important;
}
$pcolor: #8319ad;
$scolor: #c55af0;
$tcolor: #862fd6;
$ccolor: #ffbb00;

html{
    body{
        background: $tcolor;
        display: flex;
        justify-content: center;
        overflow-x: hidden;
    }
}
.easy{
    transition: all 0.5s;    
}
.clickcolor{
    background: $pcolor !important;
}

.item{
    height: 100%;
    transition: all 0.5s;
    width: 100%;
    background: #eee;
    strong{
        font-size: 1.6em;
        line-height: 1em;
        color: $pcolor;
        min-height: 2em;
        display: flex;
    }
    img{
        transition: all 0.5s;       
        max-height: 400px; 
        position: relative;
        z-index: 990;
    }
    .price{
        line-height: 1em;
        strong{
            color: #000 !important;
            display: block;
        }
    }
    .circle{
        opacity: 0;
        transition: all 0.5s;
        position: absolute;
        top: 8em;
        border-radius: 100%;
        left: 10em;
        width: 10px;
        height: 10px;
        background: $ccolor;
        z-index: 10;
    }
    .sizes, .colors{
        // display: none;
        padding: 3px;
        display: inline-block;
        span{
            display: table;
            font-size: 0.8em;
            color: #999;
        }
        button{
            font-size: 0.8em;
            border: none;
        }
    }.content{
        transition: all 0.5s;
    }
    .sizes{
        min-width: 30%;
    }
    .colors{
        min-width: 65% !important;
        span{
            line-height: 2.7em;
        }
        button{
            background: #ccc;
            color: white;
            box-shadow: 0 0 4px #9c9c9c;
            width: 12px;
            height: 12px;
            display: inline-block;
            border-radius: 360px;
        }
    }
    &:hover{
        border-radius: 12px 0;
        transition: all 0.5s;
        height: 110%;
        & > .content{
            position: relative;
            transform: translateY(3em);
            transition: all 0.5s;
        }
        & > img{
            transition: all 0.5s;
            transform: rotate(30deg) scale(1.3);
        }
        & > .circle{
            opacity: 1;
            transition: all 0.5s;
            transform: scale(33) translate(0.05em, -0.1em);
        }
    }

    .badge{
        font-weight: lighter;
    }
    .badge-default{
        opacity: 0.4;
    }
}